<h1>Buffet: <%= @buffet.name %></h1>
<h3>CNPJ: <%= @buffet.cnpj %></h3>
<dl>
  <% if @buffet.description %>
    <dt> Descrição: <%= @buffet.description %> </dt>
  <% end %>
  <dt> 
    Localização: <%= @buffet.address %>, <%= @buffet.neighborhood %>, <%= @buffet.city %> - <%= @buffet.state %>, <%= @buffet.zipcode %>
  </dt>
  <dt> E-mail: <%= @buffet.email %> </dt>
  <dt> Telefone: <%= @buffet.phone %> </dt>
  <dt> Métodos de Pagamento:  
    <% payment_methods = [] %>
    <% payment_methods << Buffet.human_attribute_name(:pix) if @buffet.pix %>
    <% payment_methods << Buffet.human_attribute_name(:debit) if @buffet.debit %>
    <% payment_methods << Buffet.human_attribute_name(:credit) if @buffet.credit %>
    <% payment_methods << Buffet.human_attribute_name(:cash) if @buffet.cash %>
    <%= payment_methods.join(', ') %>
  </dt>
</dl>

<div>
  <%= link_to 'Tipos de Evento', buffet_events_buffet_path %>
</div>
<% if @buffet.owner == current_owner %>
  <div>
    <%= link_to 'Editar Buffet', edit_buffet_path %>
  </div>
  <div>
    <%= link_to 'Adicionar Tipo de Evento', new_event_type_path %>
  </div>
<% end %>
<%= link_to 'Voltar', :back %>