<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="border-card-6">
        <h1 class="text-center">Buffet: <%= @buffet.name %></h1>
        <h4 class="text-center"><%= @buffet.description if @buffet.description %></h4>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="border-card-7">
        <dl class="row">
          <% if @buffet.owner == current_owner %>
            <div class="text-center mb-3">
                <% if @buffet.active? %>
                  <%= button_to 'Desativar Buffet', deactivate_buffet_path, method: :post, class: "btn btn-danger btn-margin" %>
                <% else %>
                  <%= button_to 'Ativar Buffet', activate_buffet_path, method: :post, class: "btn btn-success btn-margin" %>
                <% end %>
            </div>
            <% status_class = case @buffet.status %>
              <% when 'active' then 'text-success' %>
              <% when 'deactivated' then 'text-danger' %>
              <% else '' %>
            <% end %>
            <dt class="col-sm-4 text-sm-right text-end">Status:</dt>
            <dd class="col-sm-8 text-sm-left <%= status_class %>"><strong><%= I18n.t(@buffet.status) %></strong></dd>
          <% end %>

          <% if @buffet.ratings.any? %>
            <dt class="col-sm-4 text-sm-right text-end">Nota do Buffet (0 - 5):</dt>
            <dd class="col-sm-8 text-sm-left"><%= sprintf("%.1f", @buffet.average_rating) %></dd>
          <% end %>

          <dt class="col-sm-4 text-sm-right text-end"">Localização:</dt>
          <dd class="col-sm-8 text-sm-left">
            <%= @buffet.address %>, <%= @buffet.neighborhood %>, <%= @buffet.city %> - <%= @buffet.state %>, <%= @buffet.zipcode %>
          </dd>

          <% payment_methods = [] %>
          <% payment_methods << Buffet.human_attribute_name(:pix) if @buffet.pix %>
          <% payment_methods << Buffet.human_attribute_name(:debit) if @buffet.debit %>
          <% payment_methods << Buffet.human_attribute_name(:credit) if @buffet.credit %>
          <% payment_methods << Buffet.human_attribute_name(:cash) if @buffet.cash %>
          <% if payment_methods.any? %>
            <dt class="col-sm-4 text-sm-right text-end"">Métodos de Pagamento:</dt>
            <dd class="col-sm-8 text-sm-left">
              <%= payment_methods.join(', ') %>
            </dd>
          <% end %>
          
          <dt class="col-sm-4 text-sm-right text-end"">E-mail:</dt>
          <dd class="col-sm-8 text-sm-left"><%= @buffet.email %></dd>
          
          <dt class="col-sm-4 text-sm-right text-end"">Telefone:</dt>
          <dd class="col-sm-8 text-sm-left"><%= @buffet.phone %></dd>
          
          <dt class="col-sm-4 text-sm-right text-end"">CNPJ:</dt>
          <dd class="col-sm-8 text-sm-left"><%= @buffet.cnpj %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="border-card-5">
  <div class="row">
    <div class="col">
      <% if @buffet.owner == current_owner %>
        <div class="text-center mt-3">
            <%= link_to 'Editar Buffet', edit_buffet_path, class: "btn btn-warning btn-margin" %>
            <%= link_to 'Adicionar Tipo de Evento', new_event_type_path, class: "btn btn-info btn-margin" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container mt-3">
    <h3 class="text-center">Tipos de eventos do Buffet <%= @buffet.name %></h3>
    
    <% if @buffet.event_types.empty? %>
      <div class="alert alert-warning" role="alert">
        Ainda não há Tipos de Eventos cadastrados para este Buffet.
      </div>
    <% else %>
      <div class="container mt-3">
        <div class="row justify-content-center">
          <% @buffet.event_types.each_with_index do |event, index| %>
            <% if index % 4 == 0 && index != 0 %>
              </div><div class="row justify-content-center">
            <% end %>
            <% unless event.deactivated? && event.buffet.owner != current_owner %>
              <div class="col-md-3 mb-4">
                <div class="card h-100">
                  <% if event.cover_photo.attached? %>
                    <%= image_tag event.cover_photo, class: "card-img-top" %>
                  <% end %>
                  <div class="card-body">
                    <%= link_to event.name, event, class: "stretched-link card-title h5" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if !owner_signed_in? && @buffet.has_any_price? %>
      <div class="mt-3 mb-4 text-center">
        <%= link_to 'Novo Pedido', new_order_path(buffet_id: @buffet.id), class: "btn btn-success" %>
      </div>
      <% elsif !owner_signed_in? && !@buffet.has_any_price? %>
        <strong class="text-warning">Eventos do Buffet ainda não possuem preços definidos.</strong>
      <% end %>
    <% end %>
  </div>
</div>

<% if @buffet.ratings.any? %>
  <div class="row justify-content-center">
    <div class="col-auto" style="width: 800px;">
      <div class="border-card-7">
        <div class="container mt-3">
          <div class="row justify-content-center">
            <h3 class="text-center mb-3">Avaliações do Buffet</h3>
          </div>
          <% Rating.top_three(@buffet).each do |rating| %>
            <%= link_to "/buffets/#{@buffet.id}/ratings/#{rating.id}", class: "card-link invisible-link" do %>
              <div class="border-card-8 row">
                <h5 class="text-center"><%= rating.event_type.name %> em <%= rating.order.date %></h5>
                <div class="col-md-6">
                  <p><strong>Nota: </strong><%= rating.grade %></p>
                  <p><strong>Comentário: </strong><%= rating.text %></p>
                </div>
                <div class="col-md-6">
                  <% rating.photos.each do |photo| %>
                    <div class="mr-2 mb-2">
                      <%= image_tag photo.variant(resize_to_fit: [120, 80]) %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

          <% if @buffet.ratings.count > 3 %>
            <div class="text-center">
              <%= link_to 'Ver Todas', ratings_buffet_path, class: "btn btn-info" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


</div>
  <div class="mt-3 mb-4 text-center">
    <%= link_to 'Voltar', :back, class: "btn btn-secondary" %>
  </div>
</div>
