<div class="container mt-4">
  <% if @user.orders.any? %>
    <% if @approved_orders.present? %>
      <h3 class="text-primary">Pedidos aguardando sua confirmação:</h3>
      <% @approved_orders.each do |order| %>
        <div class="card mb-3" onclick="location.href='<%= order_path(order) %>'" style="cursor: pointer;">
          <div class="card-body">
            <h4 class="text-warning">Expira em: <%= order.order_price.expiration_date %></h4>
            <h5>Buffet: <%= order.buffet.name %></h5>
            <h6><%= order.event_type.name %></h6>
            <span><%= order.date %></span>
            <%= link_to order.code, order, class: 'stretched-link' %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @pending_orders.present? %>
      <h3 class="text-warning">Pedidos aguardando aprovação do Buffet:</h3>
      <% @pending_orders.each do |order| %>
        <div class="card mb-3" onclick="location.href='<%= order_path(order) %>'" style="cursor: pointer;">
          <div class="card-body">
            <h5>Buffet: <%= order.buffet.name %></h5>
            <h6><%= order.event_type.name %></h6>
            <span><%= order.date %></span>
            <%= link_to order.code, order, class: 'stretched-link' %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @confirmed_orders.present? %>
      <h3 class="text-success">Pedidos confirmados:</h3>
      <% @confirmed_orders.each do |order| %>
        <div class="card mb-3" onclick="location.href='<%= order_path(order) %>'" style="cursor: pointer;">
          <div class="card-body">
            <h5>Buffet: <%= order.buffet.name %></h5>
            <h6><%= order.event_type.name %></h6>
            <span><%= order.date %></span>
            <%= link_to order.code, order, class: 'stretched-link' %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @cancelled_orders.present? %>
      <h3 class="text-danger">Pedidos cancelados:</h3>
      <% @cancelled_orders.each do |order| %>
        <div class="card mb-3" onclick="location.href='<%= order_path(order) %>'" style="cursor: pointer;">
          <div class="card-body">
            <h5>Buffet: <%= order.buffet.name %></h5>
            <h6><%= order.event_type.name %></h6>
            <span><%= order.date %></span>
            <%= link_to order.code, order, class: 'stretched-link' %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h3>Não há pedidos cadastrados.</h3>
  <% end %>
</div>