<div class="container mt-3 pb-5"></div>
  <div class="row justify-content-center">
    <h2>Pedido de <%= @order.event_type.name %> </h2>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="buffet">
        <h4><%= Order.human_attribute_name(:buffet) %> <%= link_to @order.buffet.name, @order.buffet, class: "invisible-link" %></h4>
      </div>
      <div class="border-card">
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-5"><%= Order.human_attribute_name(:status) %>:</dt>
            <% if @order.status == 'pending' %>
              <dd class="col-sm-7"><span class="text-warning"><%= I18n.translate(@order.status) %></span></dd>
            <% elsif @order.status == 'approved' %>
              <dd class="col-sm-7"><span class="text-primary"><%= I18n.translate(@order.status) %></span></dd>
            <% elsif @order.status == 'confirmed' %>
              <dd class="col-sm-7"><strong class="text-success"><%= I18n.translate(@order.status) %></strong></dd>
            <% elsif @order.status == 'cancelled' %>
              <dd class="col-sm-7"><span class="text-danger"><%= I18n.translate(@order.status) %></span></dd>
            <% end %>

            <dt class="col-sm-5"><%= Order.human_attribute_name(:date) %>:</dt>
            <dd class="col-sm-7"><%= @order.date %></dd>

            <dt class="col-sm-5"><%= Order.human_attribute_name(:guest_quantity) %>:</dt>
            <dd class="col-sm-7"><%= @order.guest_quantity %></dd>

            <dt class="col-sm-5"><%= Order.human_attribute_name(:location) %>:</dt>
            <dd class="col-sm-7"><%= I18n.translate(@order.location) %></dd>

            <% if @order.location == 'elsewhere' %>
              <dl>
                <dt class="col-sm-5"><%= Order.human_attribute_name(:address) %>:</dt>
                <dd class="col-sm-7"><%= @order.address %>, <%= @order.city %> - <%= @order.state %>, <%= @order.zipcode %></dd>
              </dl>
            <% end %>

            <% if !@order.details.empty? && @order.details != nil %>
              <dt class="col-sm-5"><%= Order.human_attribute_name(:details) %>:</dt>
              <dd class="col-sm-7"><%= @order.details %></dd>
            <% end %>

            <dt class="col-sm-5"><%= Order.human_attribute_name(:code) %>:</dt>
            <dd class="col-sm-7"><%= @order.code %></dd>
          </div>
        </div>

        <% if @order.status == 'approved' || @order.status == 'confirmed' %>
          <div class="border-card">
            <div class="card-body">
              <h5 class="text-primary">Proposta do Buffet:</h5>
              
                <dt class="col-sm-5"><%= OrderPrice.human_attribute_name(:base) %>: </dt>
                <dd class="col-sm-7">R$ <%= @order_price.base %></dd>

                <% if @order_price.discount > 0 %>
                  <dt class="col-sm-5"><%= OrderPrice.human_attribute_name(:discount) %>:</dt>
                  <dd class="col-sm-7">R$ <%= @order_price.discount %></dd>
                <% elsif @order_price.fee > 0 %>
                  <dt class="col-sm-5"><%= OrderPrice.human_attribute_name(:fee) %>:</dt>
                  <dd class="col-sm-7">R$ <%= @order_price.fee %></dd>
                <% end %>
                
                <% unless @order_price.base == @order_price.total %>
                  <dt class="col-sm-5"><%= OrderPrice.human_attribute_name(:description) %>:</dt>
                  <dd class="col-sm-7"><%= @order_price.description %></dd>

                  <dt class="col-sm-5"><%= OrderPrice.human_attribute_name(:total) %>:</dt>
                  <dd class="col-sm-7">R$ <%= @order_price.total %></dd>
                <% end %>

                <dt class="col-sm-5"><%= OrderPrice.human_attribute_name(:payment) %>:</dt>
                <dd class="col-sm-7"><%= I18n.t(@order_price.payment) %></dd>

                <dt class="col-sm-5"><%= OrderPrice.human_attribute_name(:expiration_date) %>:</dt>
                <dd class="col-sm-7"><%= @order_price.expiration_date %></dd>
            </div>
          </div>
        <% end %>
      </dl>
    </div>
    <% unless @order.status == 'cancelled' %>
      <div class="col">
        <div class="buffet">
          <h4>Converse com o <%= Order.human_attribute_name(:buffet) %> <%= link_to @order.buffet.name, @order.buffet, class: "invisible-link" %></h4>
        </div>
        <div class="border-card">
          <div class="border-card-3" id="chat-box" style="height: 250px; overflow-y: scroll;">
            <% @chat.messages.each do |message| %>
              <div class="border-card-4 message-card <%= message.is_a?(UserMessage) ? 'message-user' : 'message-buffet' %>">
                <div class="card-body-2">
                  <p class="card-text">
                    <% if message.is_a?(UserMessage) %>
                      Você: 
                    <% elsif message.is_a?(BuffetMessage) %>
                      Buffet <%= message.buffet.name %>: 
                    <% end %>
                    <%= message.content %>
                  </p>
                  <p class="card-text">
                    <small class="text-muted"><%= UserMessage.human_attribute_name(:created_at) %>: <%= message.created_at.strftime("%d %b %Y %H:%M") %></small>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
          <%= form_with(model: [@order, UserMessage.new], url: new_user_message_order_path(@order), method: :post, local: true) do |f| %>
            <div class="form-group mb-3">
              <%= f.label :content, class: 'form-label' %>:
              <%= f.text_area :content, class: 'form-control' %>
            </div>
            <div class="mt-4">
              <%= f.submit 'Enviar', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-auto">
        <% if @order.status == 'approved' && @order.order_price.expiration_date >= Date.today %>
          <%= button_to 'Confirmar Pedido', confirm_order_path, method: :post, class: "btn btn-success pe-3 ps-3" %>
        <% end %>
      </div>
      <div class="col-auto">
        <% if @order.status != 'cancelled' && @order.status != 'confirmed'  %>
          <%= button_to 'Cancelar Pedido', user_cancel_order_path, method: :post, class: "btn btn-danger pe-3 ps-3", id: "cancel-order-btn" %>
        <% end %>
      </div>
      <div class="col-auto">
        <%= link_to 'Voltar', orders_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const chatBox = document.getElementById("chat-box");
  if (chatBox) {
    chatBox.scrollTop = chatBox.scrollHeight;
  }

  const cancelButton = document.getElementById("cancel-order-btn");
  if (cancelButton) {
    cancelButton.addEventListener('click', function(event) {
      if (!confirm('Tem certeza?')) {
        event.preventDefault();
      }
    });
  }
});
</script>
