<%= form_with(model: @event_type) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :description, class: 'form-label' %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :cover_photo, class: 'form-label' %>
        <%= f.file_field :cover_photo, class: 'form-control' %>
      </div>
      <% if @event_type.persisted? && @event_type.gallery_photos.attached? %>
        <div class="mb-3">
          <% @event_type.gallery_photos.each do |photo| %>
            <%= f.hidden_field :gallery_photos, multiple: true, value: photo.signed_id if photo.blob.persisted? %>
          <% end %>
        </div>
      <% end %>
      <div class="mb-3">
        <%= f.label :gallery_photos, class: 'form-label' %>
        <%= f.file_field :gallery_photos, multiple: true, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :min_people, class: 'form-label' %>
        <%= f.text_field :min_people, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :max_people, class: 'form-label' %>
        <%= f.text_field :max_people, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :duration, class: 'form-label' %>
        <%= f.text_field :duration, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :menu, class: 'form-label' %>
        <%= f.text_area :menu, class: 'form-control' %>
      </div>
      <div class="mb-3 form-check">
        <%= f.check_box :alcohol, class: 'form-check-input' %>
        <%= f.label :alcohol, class: 'form-check-label' %>
      </div>
      <div class="mb-3 form-check">
        <%= f.check_box :decoration, class: 'form-check-input' %>
        <%= f.label :decoration, class: 'form-check-label' %>
      </div>
      <div class="mb-3 form-check">
        <%= f.check_box :parking, class: 'form-check-input' %>
        <%= f.label :parking, class: 'form-check-label' %>
      </div>
      <div class="mb-3">
        <%= f.label :location, EventType.human_attribute_name(:location), class: 'form-label' %>
        <% EventType.locations.each do |key, value| %>
          <div class="form-check">
            <%= f.radio_button :location, key, class: 'form-check-input' %>
            <%= f.label :location, EventType.human_attribute_name("location.#{key}"), value: key, class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
    </div>
  <% if @event_type.price %>
      <div class="col-md-6">
        <%= f.fields_for :price do |price_f| %>
          <div class="mb-3">
            <%= price_f.label :base, Price.human_attribute_name(:base), class: 'form-label' %>
            <%= price_f.number_field :base, step: '0.01', class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= price_f.label :extra_person, Price.human_attribute_name(:extra_person), class: 'form-label' %>
            <%= price_f.number_field :extra_person, step: '0.01', class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= price_f.label :extra_hour, Price.human_attribute_name(:extra_hour), class: 'form-label' %>
            <%= price_f.number_field :extra_hour, step: '0.01', class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= price_f.label :weekend_base, Price.human_attribute_name(:weekend_base), class: 'form-label' %>
            <%= price_f.number_field :weekend_base, step: '0.01', class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= price_f.label :weekend_extra_person, Price.human_attribute_name(:weekend_extra_person), class: 'form-label' %>
            <%= price_f.number_field :weekend_extra_person, step: '0.01', class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= price_f.label :weekend_extra_hour, Price.human_attribute_name(:weekend_extra_hour), class: 'form-label' %>
            <%= price_f.number_field :weekend_extra_hour, step: '0.01', class: 'form-control' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col text-center">
      <%= f.submit 'Registrar', class: 'btn btn-primary mt-4' %>
    </div>
  </div>
<% end %>
