<div class="container mt-4">
  <h2>Editar Tipo de Evento</h2>

  <% if @event_type.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @event_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

  <%= render 'form' %>

<div class="container mt-4"></div>
  <% if !@event_type.price %>
    <%= link_to 'Definir Preços', event_type_prices_event_type_path, class: "btn btn-primary mt-3" %>
  <% else %>
    <%= link_to 'Editar Preços', event_type_prices_event_type_path, class: "btn btn-primary mt-3" %>
  <% end %>

  <%= link_to 'Voltar', :back, class: "btn btn-secondary mt-3" %>
</div>
