<h1><%= @event_type.name %></h1>

<dl>
<dd><%= EventType.human_attribute_name(:duration)%>: <%= @event_type.duration %></dd>
<dd><%= EventType.human_attribute_name(:min_people)%>: <%= @event_type.min_people %></dd>
<dd><%= EventType.human_attribute_name(:max_people)%>: <%= @event_type.max_people %></dd>
<dd><%= EventType.human_attribute_name(:menu)%>: <%= @event_type.menu %></dd>
<dd>Extras: 
  <% EventType.extras(@event_type.id).each do |extra| %>
    <%= EventType.human_attribute_name(extra) %>
  <% end%>
</dd>
<dd><%= EventType.human_attribute_name(:location)%>: <%= I18n.translate(@event_type.location) %></dd>

<%= link_to 'Editar Tipo de Evento', edit_event_type_path %>