<div class="container mt-3 pb-5">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1><%= @event_type.name %></h1>
      <% if @event_type.cover_photo.attached? %>
        <%= image_tag @event_type.cover_photo.variant(resize_to_fit: [400, 300]) %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <dl class="row">
        <dt class="col-sm-3"><%= EventType.human_attribute_name(:description) %>:</dt>
        <dd class="col-sm-9"><%= @event_type.description %></dd>

        <dt class="col-sm-3"><%= EventType.human_attribute_name(:duration) %>:</dt>
        <dd class="col-sm-9"><%= @event_type.duration %></dd>

        <dt class="col-sm-3"><%= EventType.human_attribute_name(:min_people) %>:</dt>
        <dd class="col-sm-9"><%= @event_type.min_people %></dd>

        <dt class="col-sm-3"><%= EventType.human_attribute_name(:max_people) %>:</dt>
        <dd class="col-sm-9"><%= @event_type.max_people %></dd>

        <dt class="col-sm-3"><%= EventType.human_attribute_name(:menu) %>:</dt>
        <dd class="col-sm-9"><%= @event_type.menu %></dd>

        <dt class="col-sm-3"><%= EventType.human_attribute_name(:location) %>:</dt>
        <dd class="col-sm-9"><%= I18n.translate(@event_type.location) %></dd>

        <% unless EventType.extras(@event_type.id).empty? %>
          <dt class="col-sm-3">Extras:</dt>
          <dd class="col-sm-9">
            <% EventType.extras(@event_type.id).each do |extra| %>
              <%= EventType.human_attribute_name(extra) %>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>

  <% if @event_type.price != nil %>
    <div class="row justify-content-center">
      <div class="col">
        <h3>Preços</h3>
        <dl class="row">
          <% unless @event_type.price.base == nil %>
            <dt class="col-sm-3"><%= Price.human_attribute_name(:base) %>:</dt>
            <dd class="col-sm-9">R$ <%= @event_type.price.base %></dd>
          <% end %>

          <% unless @event_type.price.extra_person == nil %>
            <dt class="col-sm-3"><%= Price.human_attribute_name(:extra_person) %>:</dt>
            <dd class="col-sm-9">R$ <%= @event_type.price.extra_person %></dd>
          <% end %>

          <% unless @event_type.price.extra_hour == nil %>
            <dt class="col-sm-3"><%= Price.human_attribute_name(:extra_hour) %>:</dt>
            <dd class="col-sm-9">R$ <%= @event_type.price.extra_hour %></dd>
          <% end %>

          <% unless @event_type.price.weekend_base == nil %>
            <dt class="col-sm-3"><%= Price.human_attribute_name(:weekend_base) %>:</dt>
            <dd class="col-sm-9">R$ <%= @event_type.price.weekend_base %></dd>
          <% end %>

          <% unless @event_type.price.weekend_extra_person == nil %>
            <dt class="col-sm-3"><%= Price.human_attribute_name(:weekend_extra_person) %>:</dt>
            <dd class="col-sm-9">R$ <%= @event_type.price.weekend_extra_person %></dd>
          <% end %>

          <% unless @event_type.price.weekend_extra_hour == nil %>
            <dt class="col-sm-3"><%= Price.human_attribute_name(:weekend_extra_hour) %>:</dt>
            <dd class="col-sm-9">R$ <%= @event_type.price.weekend_extra_hour %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% else %>
    <strong class="text-warning">Evento ainda não possui preços definidos.</strong>
  <% end %>

  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <% if !owner_signed_in? %>
        <%= link_to 'Novo Pedido', new_order_path(buffet_id: @event_type.buffet.id, preset_event: @event_type), class: "btn btn-success" %>
      <% end %>
      <% if @event_type.buffet.owner == current_owner %>
        <%= link_to 'Editar Tipo de Evento e Preços', edit_event_type_path, class: "btn btn-primary" %>
      <% end %>
      <%= link_to 'Voltar', @event_type.buffet, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
