<div class="container mt-4" style="padding: 10px">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <div class="border-card-5" style="padding: 20px;">
        <div>
          <h1><%= @event_type.name %></h1>
          <% if @event_type.cover_photo.attached? %>
            <%= image_tag @event_type.cover_photo.variant(resize_to_limit: [400, 300])%>
          <% end %>
        </div>

        <% if !owner_signed_in? && @event_type.price %>
        <br>
        <div>
          <%= link_to 'Novo Pedido', new_order_path(buffet_id: @event_type.buffet.id, preset_event: @event_type), 
                                                                                      class: "btn btn-success" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @event_type.gallery_photos.attached? %>
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="border-card-5 d-flex flex-wrap justify-content-center" id="gallery">
          <% @event_type.gallery_photos.each do |photo| %>
            <div class="mr-2 mb-2" style="padding: 2px;">
              <%= image_tag photo.variant(resize_to_limit: [300, 200]), class: "mb-1" %>
              <% if @event_type.buffet.owner == current_owner %>
                <%= button_to 'Apagar', event_type_delete_photo_path(event_type_id: @event_type.id, 
                                                                    photo_id: photo.id), method: :delete, 
                                                                    class: 'btn btn-danger btn-sm' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="border-card-7">
        <dl class="row">
          <% if @event_type.buffet.owner == current_owner %>
            <div class="text-center mb-3">
                <% if @event_type.active? %>
                  <%= button_to 'Desativar Tipo de Evento', deactivate_event_type_path, method: :post, class: "btn btn-danger" %>
                <% else %>
                  <%= button_to 'Ativar Tipo de Evento', activate_event_type_path, method: :post, class: "btn btn-success" %>
                <% end %>
            </div>
            <% status_class = case @event_type.status %>
              <% when 'active' then 'text-success' %>
              <% when 'deactivated' then 'text-danger' %>
              <% else '' %>
            <% end %>
            <dt class="col-sm-3 text-sm-right">Status:</dt>
            <dd class="col-sm-9 text-sm-left <%= status_class %>"><strong><%= I18n.t(@event_type.status) %></strong></dd>
          <% end %>

          <dt class="col-sm-3"><%= EventType.human_attribute_name(:description) %>:</dt>
          <dd class="col-sm-9"><%= @event_type.description %></dd>

          <dt class="col-sm-3"><%= EventType.human_attribute_name(:duration) %>:</dt>
          <dd class="col-sm-9"><%= @event_type.duration %></dd>

          <dt class="col-sm-3"><%= EventType.human_attribute_name(:min_people) %>:</dt>
          <dd class="col-sm-9"><%= @event_type.min_people %></dd>

          <dt class="col-sm-3"><%= EventType.human_attribute_name(:max_people) %>:</dt>
          <dd class="col-sm-9"><%= @event_type.max_people %></dd>

          <dt class="col-sm-3"><%= EventType.human_attribute_name(:menu) %>:</dt>
          <dd class="col-sm-9"><%= @event_type.menu %></dd>

          <dt class="col-sm-3"><%= EventType.human_attribute_name(:location) %>:</dt>
          <dd class="col-sm-9"><%= I18n.translate(@event_type.location) %></dd>

          <% unless EventType.extras(@event_type.id).empty? %>
            <dt class="col-sm-3">Extras:</dt>
            <dd class="col-sm-9">
              <% EventType.extras(@event_type.id).each do |extra| %>
                <%= EventType.human_attribute_name(extra) %>
              <% end %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>

  <div class="border-card-7">
    <% if @event_type.price != nil %>
      <div class="row justify-content-center">
        <div class="col">
          <h3>Preços</h3>
          <dl class="row">
            <% unless @event_type.price.base == nil %>
              <dt class="col-sm-3"><%= Price.human_attribute_name(:base) %>:</dt>
              <dd class="col-sm-9">R$ <%= @event_type.price.base %></dd>
            <% end %>

            <% unless @event_type.price.extra_person == nil %>
              <dt class="col-sm-3"><%= Price.human_attribute_name(:extra_person) %>:</dt>
              <dd class="col-sm-9">R$ <%= @event_type.price.extra_person %></dd>
            <% end %>

            <% unless @event_type.price.extra_hour == nil %>
              <dt class="col-sm-3"><%= Price.human_attribute_name(:extra_hour) %>:</dt>
              <dd class="col-sm-9">R$ <%= @event_type.price.extra_hour %></dd>
            <% end %>

            <% unless @event_type.price.weekend_base == nil %>
              <dt class="col-sm-3"><%= Price.human_attribute_name(:weekend_base) %>:</dt>
              <dd class="col-sm-9">R$ <%= @event_type.price.weekend_base %></dd>
            <% end %>

            <% unless @event_type.price.weekend_extra_person == nil %>
              <dt class="col-sm-3"><%= Price.human_attribute_name(:weekend_extra_person) %>:</dt>
              <dd class="col-sm-9">R$ <%= @event_type.price.weekend_extra_person %></dd>
            <% end %>

            <% unless @event_type.price.weekend_extra_hour == nil %>
              <dt class="col-sm-3"><%= Price.human_attribute_name(:weekend_extra_hour) %>:</dt>
              <dd class="col-sm-9">R$ <%= @event_type.price.weekend_extra_hour %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    <% else %>
      <strong class="text-warning">Evento ainda não possui preços definidos.</strong>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <% if @event_type.buffet.owner == current_owner %>
        <%= link_to 'Definir Preços', set_price_event_type_path, class: "btn btn-warning" %>
        <%= link_to 'Definir Multa por Cancelamento', new_event_type_cancel_fine_path(@event_type), class: "btn btn-danger" %>
        <%= link_to 'Editar Tipo de Evento', edit_event_type_path, class: "btn btn-primary" %>
      <% end %>
      <%= link_to 'Voltar', @event_type.buffet, class: "btn btn-secondary" %>
    </div>
  </div>
</div>

