<!DOCTYPE html>
<html>
  <head>
    <title>Cadê Buffet?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'Cadê Buffet', root_path %></h1>
      <nav>
        <% if user_signed_in? %>
          <%= current_user.email %> | <%= User.model_name.human %> 
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% elsif owner_signed_in? %>
          <% unless current_owner.buffet == nil || !@buffet.valid? %>
            <h3><%= link_to 'Meu Buffet', @buffet %></h3>
          <% end%>
            <div>
            <%= current_owner.email %> | <%= Owner.model_name.human %> 
            </div>
            <div>
            <%= button_to 'Sair', destroy_owner_session_path, method: :delete %>
            </div>
        <% else %>
          <% unless request.path == home_choice_path %>
            <%= link_to 'Entrar', home_choice_path %>
          <% end %>
        <% end %>
      </nav>
    </header>
    <main>
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
